/*Глобальне скидання стилів*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.botton {
  cursor: pointer;
}
img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/*Загальні правила*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: #fff;
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}
p {
  font-weight: 400;
  font-size: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Хедер*/

.header {
  background: #fff;
  height: 72px;
}
.container-header {
  display: flex;
  justify-content: space-between;
  padding-top: 25.5px;
  padding: 25.5px;
}
.nav-header {
  display: flex;
  gap: 42px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 42px;
}
.address {
  font-style: normal;
  display: flex;
}
.address-items {
  display: flex;
  gap: 40px;
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  align-items: center;
}

.logo-span-header {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.mail-tel-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.mail-tel-link:hover,
.mail-tel-link:focus {
  color: #404bbf;
}

/* --- HERO ---*/

.hero {
  background: #2e2f42;
  height: 600px;
}

.container-hero {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.hero-title {
  padding-top: 188px;
  padding-bottom: 48px;
  text-align: center;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  text-align: center;
  white-space: nowrap;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Для заголовків h2*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

/*Для заголовків h3*/
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

/* Для абзаців p*/
.section-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*---- FEATURES --------------------------------------------*/
.container-features {
  margin-top: 120px;
  margin-bottom: 120px;
}
.features-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.section-subtitle {
  margin-bottom: 4px;
}
.section-paragraph {
  margin-bottom: 4px;
}
/*--------- TEAM -------------------------------------------*/
.team {
  background-color: #f4f4fd;
}
.container-team {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title-team {
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
  margin-bottom: 120px;
}
.team-members {
  background-color: #ffffff;
}
/*---------------- PORTFOLIO------------------------------*/
.container-portfolio {
  margin-bottom: 134px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  align-content: center;
}
.portfolio-list-items {
  flex: 0 1 calc((100% - 48px) / 3);
  box-sizing: border-box;
  margin-bottom: 24px;
  padding-bottom: 32px;
}

/*------------FOOTER----------------------------------------*/
.footer {
  background: #2e2f42;
}
.container-footer {
  width: 1140px;
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.logo-span-footer {
  color: #f4f4fd;
}
.footer-paragraph {
  color: #f4f4fd;
  width: 264px;
}
a {
  text-decoration: none;
}
